<!DOCTYPE html>
<html>

<head>
  <title>Users</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/icons/favicon.ico') }}" />
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css"
    href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}">
  <!-- =============================================================================================== -->
  <link rel="stylesheet" href="{{ url_for('static',filename='fonts/font-awesome-4.7.0/css/font-awesome.min.css') }}">

  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/user.css') }}">

</head>

<body>

  <div class="container-fluid">
      <h1 class="h3 mb-2 text-gray-800">Danh sách Profile</h1>
      <div class="card shadow mb-4">
          <div class="card-body" id="profile">
            {% if detail|length > 0 %}
              {% for itm in detail %}
                {% if loop.index0 == 0 %}
                  <div class="row content-row">
                {% endif %}
                {% if loop.index0%4 == 0 and loop.index0 > 0 %}                
                  </div>
                  <div class="row content-row">
                {% endif %}
                    <div class="col-xs-6 col-sm-3 col-md-3 itm-profile">
                      <div class="box-img-itm">
                          <button type="button" class="bootbox-close-button close" aria-hidden="true" data-url="{{itm.url}}" data-user="{{itm.user}}"><i class="fa fa-trash"></i></button>
                          <figure><img src="data:image/png;base64,{{itm.data}}" class="img-fluid"></figure>
                          <div class="row">
                            <p class="profile-name">{{itm.name}}</p>
                          </div>
                      </div>
                    </div>
              {% endfor %}
                </div>
            {% else %}
            <div class="row content-row">NO DATA</div>
            {% endif %}
          </div>
      </div>
  </div>

  <!--===============================================================================================-->
  <script src="{{ url_for('static',filename='vendor/jquery/jquery-3.2.1.min.js') }}"></script>
  <!--===============================================================================================-->
  <script src="{{ url_for('static',filename='vendor/bootstrap/js/popper.js') }}"></script>
  <script src="{{ url_for('static',filename='vendor/bootstrap/js/bootstrap.min.js') }}"></script>
  <!--===============================================================================================-->

  <script src="{{ url_for('static',filename='js/main.js') }}"></script>

  <script>
    var $SCRIPT_ROOT = {{ request.script_root| tojson | safe }};
    $(document).ready(function () {
      $('#clearall').on('click', function () {
        var data = {};
        data.user = $(this).data('id');
        remove(data, true);
      });

      $('.bootbox-close-button').on('click', function () {
        var data = {};
        data.url = $(this).data('url');
        data.user = $(this).data('user');
        remove(data, false);
      });
    });

    var remove = function (ojectdata, isall) {
      $.ajax({
        type: 'POST',
        url: $SCRIPT_ROOT + "/removeProfile/" + isall,
        data: JSON.stringify(ojectdata),
        contentType: 'application/json',
        success: function (data) {
          console.log(data);
          console.log($SCRIPT_ROOT + '/userdetail/' + ojectdata.user);
          location.href = $SCRIPT_ROOT + '/userdetail/' + ojectdata.user;
        }
      });
    };

  </script>

</body>

</html>